:root{
	--mainColor:#1a1d20;
	--secondaryColor:#1c1f22f6;

	--borderColor:#080707;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:rgb(255, 255, 255);
	
	--previewBg:#1a1d20;
	--previewShadow:#16191b;


	--buttonColor:#79d312;


}